<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <div class="container">
            <h1>Logs Show Page</h1>
            <p>Title: <%=log.title%></p>
            <p>Entry: <%=log.entry%></p>
            <p>
                <% if(log.shipIsBroken === true){ %> The Ship is Broken <% }
                else { %> The Ship is not broken <% } %>
            </p>
            <br />

            <nav>
                <a href="/logs">Back to Logs Index</a>
            </nav>
        </div>
    </body>
</html>
